server:
  port: 8080
spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    defer-datasource-initialization: true
  datasource:
    url: jdbc:postgresql://database-ers.ciroi6lmgk8x.us-east-1.rds.amazonaws.com/soul_sounds_db
    driver-class-name: org.postgresql.Driver
    username: postgres
    password: postgresql
  servlet:
    multipart:
      max-file-size: 3MB
